@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --font-primary: "Chivo Mono", monospace;

    --color-primary: #2f2228;
    --color-secondary: #fefefd;
    --color-menu-bg: #d67b64;
    --color-light: #e0d6cd;
    

    --color-background--light: #c6d5c6;
    --color-background--red: #d67b64;
    --color-background--dark: #302d27;

    --color-button--dark: #623328;
    --color-button--light: #fefefd;

    --color-text--dark: #302d27;
    --color-text--light: #fca30a;
    --color-text--white: #fefefd;

    --desktop-width: 1440;

}